body {
    background-color: #ff9f1c;   
}

.header {
    
}
.title {
    display: flex;
    margin-top: 50px;    
    border: 3px dotted #1761A0;
    color: #1761A0; 
}

main {
    display: flex;
    flex-direction: column;
}

footer {
        height: 100px;
        bottom: 0;
        width: 100%;
        text-align:center
}

.headerfirst {
 
    display:flex;
    justify-content: flex-end;
}

.header--care_tips {
    display: flex;
}

.aside_right{
    align-self: flex-end;
    width: 45%;
}
.ul--care_tips{
    display: flex;
    flex-direction: column;
}

.left{
    padding: 30px 25px 0 0;
    margin: 20px 20px 32px 45px;
}

.right{
  
    border: 3px solid #d10f80;
    color: #1761A0;
    background-color: #ffbf69;
    width: 25%;
    float: right;
}

.section--locations{
    border: green; 
    background-color: #a2d2ff;
}
.fish{
    border: 3px dotted purple;
    background-color: #2ec4b6;


}

.quotes{
   border: 3px dotted goldenrod;
   background-color: #cbf3f0;
}



